@media screen and (min-width: 600px) {
    header {
        grid-template-rows: var(--header-height) var(--header-height);
        grid-template-columns: auto auto 1fr;
        height: calc(var(--header-height) * 2);
        gap: 0 10px;
    }

    header #hamburger {
        display: none;
    }

    header nav {
        display: unset;
        position: unset;
        background-color: unset;
        grid-column: 1 / 4;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    header nav ul li {
        flex: 1 1 0;
    }

    header nav a {
        background-color: unset;
        color: white;
        width: 100%;
        height: var(--header-height);
    }

    header nav a.current {
        background-color: var(--main-highlight);
    }

    header nav a:hover {
        background-color: var(--main-highlight2);
    }

    .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sections section:first-child {
        grid-column: 1 / 3;
    }

    .business-cards.grid.show {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* join */

    .join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}